.register-guide-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-guide-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #c5cae9;
  width: 50vw;
}

.register-guide-content > header {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.register-guide-content > header h1 {
  color: #221f52;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.register-guide-content > section {
  position: relative;
  padding: 1rem 3rem;
}

.register-guide-content > section > button {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.register-guide-form {
  display: flex;
  flex-direction: column;
}

.register-guide-form label {
  color: #221f52;
  font-weight: bold;
}
