h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteiner_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  row-gap: 3rem;
  column-gap: 20rem;
  justify-content: center;
}
