/*{
    margin: 0;
    padding: 0;
    list-style: none;
    font: verdana;
}

body {
    margin: 0 16px;
    background-color: #221F52;
    color:#FFF;

    grid-template-areas: 
    "nav"
    "content"
    "footer"
    ;

  }

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
  }
*/

/*Coloquei coisas não testadas como estão na pŕatica)*/
/*@media screen and (min-width:1280px)  {
  body{
    grid-template-areas: 
    "nav"
    "content"
    "footer"
    ;
    column-gap: 64px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 750px 300px;
    justify-content: center;
    align-content: center;
    padding: 64px;

  }
}*/