.container-home {
  display: grid;
  align-items: center;
  justify-content: center;
}

.conteudo {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.box-busca {
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #c4c4c4;
  border: 0;
  width: 63.5rem;
  height: 4.375rem;
  font-size: 1.25rem;
}

.box-welcome {
  padding: 30px;
  text-align: center;
<<<<<<< HEAD
  margin-top: 6.6875rem;
  margin-bottom: 6.8125rem;
=======
  margin-top: 2rem;
  margin-bottom: 5rem;
>>>>>>> 9393ee1594e555f47ac8b27cf15e81acb01a239f
}

.container-center {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  column-gap: 6rem;
  row-gap: 2rem;
}

.box {
  text-align: center;
  cursor: pointer;
}

.box-libras {
  background-color: #c4c4c4;
  padding: 6rem 9rem;
  border-radius: 20px;
}

.box-libras:hover {
  background-color: rgba(12, 12, 12, 0.185);
}

.title {
  font-weight: 100;
  font-size: 1.2rem;
}
