.container-home {
  display: grid;
  grid-template-columns: minmax(10rem, 40rem);
  align-items: center;
  justify-content: center;
}

.conteudo {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.box-busca {
  padding: 1rem 2rem;
  border-radius: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #c4c4c4;
  border: 0;
}
/* 
.box-welcome {
  padding: 30px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
} */

.container-center {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  column-gap: 6rem;
  row-gap: 2rem;
}

.box {
  text-align: center;
  cursor: pointer;
}

.box-libras {
  background-color: #c4c4c4;
  padding: 6rem 9rem;
  border-radius: 20px;
}

.box-libras:hover {
  background-color: rgba(12, 12, 12, 0.185);
}

/* .title {
  font-weight: 100;
  font-size: 1.2rem;
} */
