.widget-accessibility-tools {
  position: fixed;
  top: 50vh;
  right: -72px;
  background: #0613cc;
  border-radius: 0 0 15px 15px;
  transform: rotate(90deg);
  z-index: 99999;
  width: 180px;
}

.modal-accessibility-tools {
  width: 200px;
  height: 110px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .widget-accessibility-tools {
    top: 0;
    right: inherit;
    transform: rotate(0);
    border-radius: 0 0 15px 15px;
    left: calc(50% - 170.67px / 2);
    font-size: 14px;
  }
}

.contrast {
  background-color: black;
}

.contrast header {
  background-color: black;
}

.contrast a {
  color: yellow !important;
  background-color: transparent !important;
}

.contrast .MuiTypography-root {
  color: yellow !important;
  background-color: transparent !important;
}

.contrast .widget-accessibility-tools {
  background-color: yellow !important;
}

.contrast .mainLayout {
  color: yellow !important;
}

.contrast ul {
  color: yellow !important;
  background-color: black !important;
  border: solid 2px #ffff00;
}

.contrast li:hover {
  background-color: rgba(255, 255, 255, 0.301);
}
.contrast .contrastH1 {
  border: solid 2px yellow;
}

.contrast .contrastContainer {
  border: solid 2px yellow;
  border-radius: 0px 0px 8px 8px;
  background-color: black !important;
}
.contrast .MuiButton-root {
  border: solid 2px yellow;
  background-color: black !important;
  color: yellow;
}

.contrast .app-header .MuiButton-root {
  border: none;
}
