.widget-accessibility-tools {
  position: fixed;
  top: 50vh;
  right: -72px;
  background: #fff;
  border-radius: 0 0 15px 15px;
  transform: rotate(90deg);
  z-index: 99999;
  width: 180px;
}

.modal-accessibility-tools {
  width: 200px;
  height: 110px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .widget-accessibility-tools {
    top: 0;
    right: inherit;
    transform: rotate(0);
    border-radius: 0 0 15px 15px;
    left: calc(50% - 170.67px / 2);
    font-size: 14px;
  }
}

.contrast{
  background-color: black; 
}

.contrast header {
  background-color: black;
}

.contrast a {
  color: yellow !important;
  background-color: transparent !important;
}

.contrast .MuiTypography-root {
  color: yellow !important;
  background-color: transparent !important;
}

.contrast .widget-button .MuiTypography-root {
  color: #000 !important;
}

.contrast .widget-accessibility-tools {
  background-color: yellow !important;
}

.contrast .mainLayout {
  color: yellow !important;
}