.dbinclui-header {
  background-color: #221f52;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.grid-container-header {
  display: flex;
  position: relative;
  height: 100%;
}

.nav-item:hover {
  color: #ffffff;
}

.nav-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px 0px;
}

a.nav-item:not(.nav-item:last-child) {
  border-right: 1px solid #ffffff;
}

a.nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.account-action {
  background-color: #c4c4c4;
  width: 50px;
  height: 50px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 15px;
}

.account-action button {
  margin: 0 auto;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  margin: 8px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }

  .mobile-menu {
    display: block;
  }

  .nav-links.active {
    transform: translateX(0);
  }
}
