.app-header a.MuiButton-root:hover {
  color: #ffffff;
  text-decoration: underline;
}

.app-header a.MuiButton-root {
  color: #ffffff;
  display: block;
  margin: 1rem 0 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.box-links {
  display: flex;
  justify-content: right;
}

.logo {
  margin-top: 0.8rem;
}

.MuiList-root {
  background-color: #d5d6e6;
}

a.menu-item-mobile {
  color: #2c3382;
  text-decoration: none;
  padding-top: 1rem;
}
