.page-errors {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.page-errors .box {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.icon-errro {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
